body {
  text-align: center;
  background-image: url("images/back.gif");
  background-size: cover;
  padding:0;
  margin:0;
}

h1{
  font-size: smaller;
  background-color: rgba(63, 63, 63, 0.171);
  padding: 5px;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 80%;
  margin: auto;

}

.btn {
  margin: 10px 10px 10px 10px;
  display: inline-block;
  height: 250px;
  width: 250px;
  border: 10px solid black;
  border-radius: 50%;
}

.btn > img{
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.game-over {
  background-image:url("images/over.gif");
  opacity: 0.8;
}

.next {
  background-image:url("images/correct.gif");
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}


